@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section>
    <div class="row">
        <div class="col">
            <h1>Hola, Soy Ricardo</h1>
            <h2>un wero doble de riesgo</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
               Hola, soy Diego Ricardo Herrera Argueta
                Estudiante de informatica 
            </p>
            <p>
                mis pasatiempos son:
                - Hacer ejercicio
                - Reparar electronicos
                - Leer
                - Escuchar musica
            </p>
         
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="button" class="btn btn-dark">
                Ver
                curriculum
            </button>
            <button type="button" class="btn
btn-dark">
                Contáctame
            </button>
        </div>
    </div>
</section>
