@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section>
    <div class="row">
        <div class="col">
            <h1>
                Hola, soy Herrera Argueta Diego Ricardo
            </h1>
            <h2>
                Estudiante de la licenciatura de informatica
            </h2>
            <p>
                mis pasatiempos son:
                - Hacer ejercicio
                - Reparar electronicos
                - Leer
                - Escuchar musica
            </p>
            <div class="col">
                <img class="img-fluid"
                     src="~/Content/img/fotopikachu.jpg" />
            </div>
        </div>
    </div>
    @*<div class="row text-center">
        <div class="col">
            <button type="button" class="btn btn-dark">
                Ver
                curriculum
            </button>
            <button type="button" class="btn
btn-dark">
                Contáctame
            </button>*@
        @*</div>
    </div>*@
</section>
