@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<h2>Contactos.</h2>


<address>
   UABC Facultad de ciencias administrativas<br />
    Licenciatura en informatica<br />
                               <abbr title="Numero telefonico ☎"> Numero telefonico ☎ P:</abbr>
    686-185-47-93
    <abbr title="Redes sociales"></abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">herrera.diego.1jm@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">diego.ricardo.herrera.argueta@uabc.edu.mx</a>
</address>