@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col">
            <h2>Hola, soy Ricardo jeje</h2>
            <p>Esto es un test</p>
            <a class="btn btn-secondary"
               href="@Url.Action("Index","Home")">Mi trabajo</a>
        </div>
        @*<div class="col">
            <img class="img-fluid"
                 src="~/Content/img/steveJobs.png" />
        </div>*@
    </div>
</div>