@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col">
            <h2>Hola, soy Ricardo jeje👻</h2>
            <p>Un wero doble de riesgo 🖖</p>
            <a class="btn btn-secondary"
               href="@Url.Action("Index","Portafolio")">Mi trabajo</a>
        </div>
        <div class="col">
            <img class="img-fluid"
                 src="~/Content/img/fotomariobros.jpg" />
        </div>
    </div>
</div>